.container {
	width: 60vw;
	height: 15vh;
	background-color: white;
	border-radius: 8px;
	padding: 20px 10px 20px 10px;
	margin: 5vh 2.5vw;
	box-shadow: 5px 0px 20px rgb(226 232 240);
}

.bodycontainer {
	padding: 4vh 0 4vh 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.leavestaken{
	height: 4vh;
	padding: 0 5vw 0 5vw;
	font-size: larger;
	font-weight: bold;
	color: rgb(51 65 85);
	border-right-width: 3px;
	border-color: rgb(212 212 212);
}

.upcoming {
	height: 4vh;
	padding: 0 5vw 0 5vw;
	font-size: larger;
	font-weight: bold;
	color: rgb(51 65 85);
	border-right-width: 3px;
	border-color: rgb(212 212 212);
}

.pastleaves {
	font-size: larger;
	font-weight: bold;
	color: rgb(51 65 85);
}
